<!DOCTYPE html>
<html>
<body>
    <p>Hello,</p>
    <p>You're receiving this email because you requested a password reset for your Test Case Manager account.</p>
    <p>Please click the following link to reset your password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>This link will expire in 24 hours.</p>
    <p>Thank you,<br>Test Case Manager</p>
</body>
</html>

